@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,300;1,200&display=swap');

body{
    font-family: 'Public Sans', sans-serif;
    font-weight: 300;
    

}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
 a {
    text-decoration: none;
}


nav{
    display: flex;
gap: 10rem;
padding: 2rem;
justify-content: space-around;
}
.nav-sec{
    display: flex;

}
a.navlinks{
    padding: 15px;
    
}.white{
    color: white;
}
.logo-btn  {
    border-radius: 4rem ;
    background-image: linear-gradient( to right, hsl(142.26deg 62.85% 50.39%),hsl(186.54deg 63.93% 47.84%));
    color: white;
    padding: 10px;
    border: none;
    

    
}
/* INTRO SEC */
 .intro{
    display: flex;
    background-color:  hsl(0, 0%, 100%);
    overflow: hidden;
    
}
.intro-img{
    background-image: url(../images/bg-intro-desktop.svg);
    margin-left: 5px;
    margin-top: -96px;
    overflow: hidden;
    
}
.intro-img2{
    margin-left: 190px;
    margin-top: -49px;
}
.intro-text {
    padding: 19rem 6rem 0 6rem;

}
.int-head{
    padding: 2rem 0;
    font-size: 48px;
    width: 372px;
}
.lead{
    padding-bottom: 2rem;
    width: 354px;
}
/*ADVERT*/
.advert{
    background-color: hsl(0, 0%, 90%);
    padding: 4rem 6rem;
    width: 100%;
    
}
.intro-flex{
    display: flex;
    gap: 30px;

}
.h3{
    font-size: xxx-large;
    margin-bottom: 1rem;
}
.ad-head{
    padding: 2rem;

}
.ad-txt{
    text-align: left;
}